{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-5">O nas</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'image/logo.png' %}" alt="about us" class="img-fluid rounded mb-4">
        </div>
        <div class="col-md-6">
            <p class="lead mb-4">Jesteśmy grupą ekspertów z różnych dziedzin, którzy połączyli swoje siły, aby pomóc w rozwoju Twojej firmy. Nasze doświadczenie i wiedza pozwala nam na skuteczne doradztwo i wspieranie Twojego biznesu.</p>
            <p class="mb-4">Współpracujemy z małymi i średnimi firmami, dostosowując nasze rozwiązania do indywidualnych potrzeb i wymagań. Naszym celem jest zapewnienie sukcesu Twojego biznesu i pomaganie w osiąganiu kolejnych celów.</p>
            <p class="mb-4">Skontaktuj się z nami, aby dowiedzieć się więcej o naszych usługach i zacząć rozwijać swój biznes już dziś!</p>
            <a href="#" class="btn btn-primary">Skontaktuj się z nami</a>
        </div>
    </div>
</div>
{% endblock %}